@import '../../styles/scss/variables';
@import '../../styles/scss/mixins';

.wrap {
  @include wrap;

  .titleCon {
    @include flex-space-between;
    padding: 1.6875rem 2rem 1rem 2rem;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      color: $color-Signature-purple;
    }

    .toggleBtn {
      @include flex-space-between;
      align-items: center;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.375rem;
      color: $color-font-black;
      position: relative;

      img {
        margin-left: 5px;
      }

      .sortingList {
        width: 125px;
        margin-top: 15px;
        top: 100%;
        right: 0;
        background-color: #fff;
        border: 1px solid #e2e0e0;
        border-radius: 6px;
        position: absolute;
        z-index: 10;

        button {
          width: 100%;
          font-weight: 500;
          text-align: left;
          line-height: 2rem;
          padding-left: 21px;
          transition: all 0.3s;

          &:hover {
            background-color: #e2e0e0;
          }
        }

        .active {
          color: $color-Signature-purple;
        }
      }
    }
  }

  .post {
    width: 100%;
    margin-bottom: 2.5rem;

    .postContents {
      width: 100%;
      padding: 1.25rem 2rem;

      .flexCon {
        display: flex;
        align-items: center;
      }

      h3 {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.6875rem;
        color: $color-font-black;
      }
      p {
        display: flex;
        align-items: center;
        margin-top: 11px;
      }

      .price {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.6875rem;
        color: $color-Signature-purple;
      }

      .profile {
        margin-left: 10px;
      }
    }

    .buttons {
      padding-left: 2rem;
      display: flex;

      .like {
        @include flex-all-center;
        width: 4.375rem;
        height: 2.75rem;
        margin: 0 12px;
        border: 1px solid #b3b3b3;
        border-radius: 5px;
      }

      .button {
        @include button-active;
        width: 66%;
      }
    }
  }
}

.hidden {
  display: none;
}

.reverse {
  transform: scaleY(-1);
}
