@import '../../../styles/scss/mixins';

.wrap {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background-color: rgb(233, 208, 233);
  overflow: hidden;

  section.contents {
    width: 430px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;

    @include mobile {
      width: 100%;
    }
  }
}
