@import '../../../styles/scss/variables';
@import '../../../styles/scss/mixins';

.wrap {
  @include wrap;
  @include flex-all-center;

  .backgroundWrap {
    @include backgroundWrap;
    background: url('../../../assets/img/introBg.jpg') 50% / cover no-repeat;

    .layoutCon {
      @include layout;

      .contents {
        width: 100%;
        height: 83.55%;
        position: relative;
        left: 0;
        top: 0;
      }
    }
  }
}
