@import '../../../styles/scss/variables';
@import '../../../styles/scss/mixins';

.wrap {
  @include flex-all-center;
  width: 100%;
  height: 100vh;
  background-color: rgb(233, 208, 233);
  overflow: hidden;

  .layoutCon {
    width: 430px;
    height: 900px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 1rem;
    box-shadow: $shadow-wide;

    @include mobile {
      width: 100%;
      height: 100%;
    }

    .contents {
      width: 100%;
      height: 825px;
      position: relative;
      left: 0;
      top: 0;
    }
  }
}
