@import '../../styles/scss/variables';
@import '../../styles/scss/mixins';

// 채팅 리스트
.noData {
  text-align: center;
  padding-top: 5rem;
}

.chatListContainer {
  height: 100%;
  overflow-y: auto;
}

.listWrap {
  width: 100%;
  padding: 1.25rem 1.875rem;
  display: flex;
  border-bottom: 1px solid $color-line-gray;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    translate: -50% -50%;
    width: 2.3125rem;
    height: 2.3125rem;
    background-image: url('../../assets/svg/chatListRightArrow.svg');
  }
}

.listPhotoFrame {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
  overflow: hidden;
  margin-right: 0.75rem;
  border-radius: 6px;
  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  span {
    position: absolute;
    top: 0.9375rem;
    left: 1.375rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: $color-Signature-purple;
    color: #fff;
    @include flex-all-center;
    font-size: 0.75rem;
  }
}

.listContentWrap {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.listTitleWrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  span {
    margin-left: 0.625rem;
    font-size: 0.75rem;
    color: #929292;
  }
}

.listTitle {
  @include ellipsis;
  font-weight: 600;
  margin-bottom: 0.4375rem;
}

.chatListText {
  @include multilineEllipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.875rem;
  color: #929292;
}

.listTextWrap {
  width: 87%;
  max-width: 250px;
}

// 채팅 룸
.container {
  height: 100%;
}

.chatContainer {
  height: 99.5%;
  overflow-y: auto;
  padding: 1.25rem 2rem;
}

.chatContainerNull {
  @extend .chatContainer;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.4375rem 0;

  img {
    width: 8.5rem;
    height: 8.5rem;
    margin-bottom: 0.875rem;
  }
  .noneTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2.25rem;
  }
  p {
    font-size: 0.875rem;
  }
  .noneInfo {
    color: #929292;
  }
}

.chatComponentMe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .profile,
  .sender {
    display: none;
  }

  .message {
    background-color: #efdaff;
  }
}

.chatWrap {
  display: flex;
}

.profileBox {
  min-width: 2.6875rem;
}

.profile {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 6px;
}

.createdAt {
  text-align: center;
  color: #6c6c6c;
  font-size: 0.875rem;
  margin: 0.25rem 0 1rem;
}

.createdAtNone {
  display: none;
}

.sender {
  color: #6c6c6c;
  font-size: 0.875rem;
  margin-left: 2.6875rem;
}

.message {
  background-color: #ececec;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.formWrap {
  height: 100%;
}

.formStyle {
  width: 100%;
  height: 10%;
  padding: 0.625rem;
  display: flex;

  input {
    width: 73%;
    height: 100%;
    padding: 1.25rem 2.1875rem;
    resize: none;
    border: 1px solid #dbdbdb;
    margin-right: 0.625rem;
  }

  .submitButton {
    width: 27%;
    height: 100%;
    background-color: $color-Signature-purple;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 4px;
  }
}
