.wrap {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background-color: pink;

  section.contents {
    width: 430px;
    height: 100vh;
    border: 1px solid;
    margin: 0 auto;
    background-color: #fff;
  }
}
