@import './variables';

@mixin backgroundWrap {
  @include flex-all-center;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
}

@mixin wrap {
  width: 100%;
  height: 100%;
  overflow: auto;
}

@mixin layout {
  width: 430px;
  height: 900px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: $shadow-wide;
  border-radius: 5px;

  @include mobile {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button-active {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.75rem;
  color: #fff;
  background-color: $color-Signature-purple;
  border-radius: 5px;

  &:hover {
    background-color: #6600b4;
  }
}

@mixin button-disable {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.75rem;
  color: #bebebe;
  background-color: $color-button-disable;
  border-radius: 5px;

  &:hover {
    color: #fff;
    background-color: $color-Signature-purple;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multilineEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// media query
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

// animation
// text 효과 애니메이션
@mixin text-animation {
  position: relative;
  display: inline-block;
  animation: wavy 1s infinite;
  animation-iteration-count: infinite;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: ($i * 0.1s);
    }
  }

  @keyframes wavy {
    0%,
    40%,
    100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-7px);
    }
  }
}

// 배경색 애니메이션
@mixin background-animation {
  position: relative;
  display: inline-block;
  animation: bgColors 5s infinite;
  animation-iteration-count: infinite;

  @keyframes bgColors {
    25% {
      background-color: #9ad9d7;
    }
    50% {
      background-color: #bfd9ff;
    }
    75% {
      background-color: #bfc6ff;
    }
  }
}

// 밑에서 올라오는 애니메이션
@mixin float-animation {
  position: relative;
  animation: float 2s;
  animation-iteration-count: infinite;
  visibility: hidden;
  opacity: 0;

  @keyframes float {
    0% {
      top: 10px;
    }
    40%,
    70% {
      top: 0;
      visibility: visible;
      opacity: 1;
    }
  }
}
