@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

// fonts
$font-family-notoSans: 'Noto Sans KR', sans-serif;

// colors
$color-Signature-purple: #7c00de;
$color-font-black: #1e1e1e;
$color-slide-default: #bebebea8;
$color-slide-active: #ebebeb;

// buttons
$color-button-disable: #f2f2f2;

//shadow
$shadow-default: 0 2px 3px rgba(0, 0, 0, 0.19);
$shadow-wide: 2px 5px 5px rgba(0, 0, 0, 0.19);

//break-point
$breakpoint-mobile: 430px;
