@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

// fonts
$font-family-notoSans: 'Noto Sans KR', sans-serif;

// colors
$color-Signature-purple: #a900f7;
$color-font-black: #1e1e1e;
$color-slide-default: #bebebea8;
$color-slide-active: #ebebeb;

//break-point
$breakpoint-mobile: 430px;
